development:
  adapter: postgresql
  database: wave_music_dev
  username: dev
  password: dev

test:
  adapter: postgresql
  database: wave_music_test
  username: dev
  password: dev

production:
  adapter: postgresql
  database: wave_music
  username: dev
  password: dev
